extends layout

block content
  div.container
    div.row
      div.col-12-md
        br
        div.alert.alert-info.info-display
          strong Status:
          span  Value
           

        div.color-wheel-wrapper
          div#main-color-wheel-container

        div.alert.alert-success.info-display
          strong HSL:
                