extends layout

block content
  div.container
    div.row
      div.col-12-md
        br
        div.alert.alert-info.info-display
          strong Status:
          span  Value
           

        p Placeholder

        div.alert.alert-success.info-display
          strong HSL:
                