nav.navmenu.navmenu-default.navmenu-fixed-left.offcanvas#side-menu
    span.navmenu-header General
    ul.nav.navmenu-nav
        li.active
            a(href="#") Light
        li
            a(href="#") Effects
        li
            a(href="#") Scheduling
    span.navmenu-header Settings
    ul.nav.navmenu-nav
        li
            a(href="#") Settings
